* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

    text-align: center;
}

/* NAVIGATION BAR */

.navbar {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.nav-logo img {
    height: 50px;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    padding-right: 10px;
}

.nav-links a {
    padding-left: 10px;
    padding-right: 10px;
}

/* HERO SECTION */

.hero {
    background-image: url("../images/img-mission-background.jpg");
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 69px;
}

.hero-text {
    width: 100%;
}

.hero-text h2 {
    font-size: 30px;
}