* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

    text-align: center;
}

/* NAVIGATION BAR */

.navbar {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.nav-logo img {
    height: 50px;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    padding-right: 10px;
}

.nav-links a {
    padding-left: 10px;
    padding-right: 10px;
}

/* HERO SECTION */

.hero {
    background-image: url("../images/img-mission-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 69px;
}

.hero-text {
    width: 100%;
}

.hero-text h2 {
    font-size: 30px;
}

/* Tea of the Month */
.tea-of-the-month {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

.tea-of-the-month h2 {
    font-size: 30px;
    margin: 0;
    margin-top: 60px;
}

.tea-of-the-month h4 {
    margin: 0;
    margin-top: 1em;
}

.tea-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-card {
    margin-top: 20px;
}

.tea-card img {
    height: 200px;
    width: 300px;
    margin: 10px 10px 0 10px;
}

.tea-card p {
    margin: 10px 0 0 0;
}


/* LOCATIONS */
.locations {
    background-image: url("../images/img-locations-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.locations h2 {
    font-size: 30px;
    background-color: transparent;
}

.location-container{
    display: flex;
    background-color: transparent;
    opacity: 1;
    gap: 40px;
}

.location-card {
    width: 300px;
    opacity: 1;
}

.location-card h3 {
    font-size: 26px;
}

.location-card p {
    padding: 10px;
}

/* CONTACT */
.contact {
    height: 200 px;
}

.contact h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.contact h5 {
    font-size: 18px;
}

/* Footer */
footer {
    margin-top: 80px;
    margin-left: 10px;
}

footer p{
    text-align: left;
    font-size: 16px;
}